{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        WELCOME to SHOKEEP the most trusted ecommerce platform.
{% endblock %}
{% block title %}
        Search
{% endblock %}
{% block content %}
<div>
        <div class="mx-auto">
                <p>You have searched for <b>{{query}}</b></p>
        </div>
</div>
<div class="container">
            <div class="row mx_auto">
            {% for product in products %}
                <div class="my_bottom_margin col-lg-4 col-sm-12 col-md-6">
                    <div class="card  text-center" style="min-width:18rem;min-height:18rem;">
                        <a  href="{{product.get_url}}"><img class="card-img-top image_size " src="{{product.image.url}}" alt="{{product.name}}" style="height:250px;padding:30px;"> </a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>Rs:{{product.price}}</p>
                    </div>
                    </div>
                </div>
            {% empty %}
                    <div class="text-center card mx-auto">
                        <div class="form-control">
                            <h1 class="form-group">Search not found. Item not in the list</h1>
                        </div>
                    </div>
            {% endfor %}
            </div>
</div>
{% endblock %}
